<div class="container">
  <div class="jumbotron">
    <h1>About</h1>
    <p>
      Libre is a small application created using Ruby on Rails framework.
      I decided to do it in order to challenge myself to make something entirely
      on my own after a few months of learning Rails.
    </p>
    <p>
      Because of purely educational purpose of this project, books borrowed from Libre
      don't exist in a real world, at least in my current <a href="https://en.wikipedia.org/wiki/Multiverse" target="_blank">universe</a>.
      If you manage to read any book borrowed from Libre, please contact me,
      or any physicist you know, to explain this phenomenon.
    </p>
  </div>
</div>
