<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to <spand class="logo">Libre!</span></h1>
    <p>Here you can borrow, rate and review books!</p>
    <%= render 'layouts/searchbox' %>
  </div>
  <% unless user_signed_in? %>
  <div class="jumbotron text-center">
    <h3>Wanna full Libre experience?</h3>
    <%= link_to 'Sign Up', new_user_registration_path , class: 'btn btn-primary' %>
    <span>or</span>
    <%= link_to 'Log In', new_user_session_path , class: 'btn btn-primary' %>
    <span>if you already have an account</span>
  </div>
  <% end %>
</div>
