@import "bootstrap-sprockets";
@import "bootstrap";


/* variables and mixins */


/* LAYOUT */

.alert {
  text-align: center;
}

.alert-notice {
  background-color: #82d16c;
}



/* header */
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.3em;
}

.logo-nav {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

.nav .searchbox {
  margin-top: 8px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  small {
    float: left;
    padding-left: 15px;
  }
  ul {
    float: right;
    padding-right: 15px;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
