<footer class="footer">
  <small>
    Created by
    <a href="https://github.com/ahawrylak"> Adrian Hawrylak</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', '#about' %></li>
      <li><%= link_to 'Contact', '#contact' %></li>
      <li><%= link_to 'Help', '#help' %></li>
    </ul>
  </nav>
</footer>
